canvas,
.fpe {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.fpe-scale-bar {
  display: none;
} 

@import url('https://fonts.googleapis.com/css?family=Avenir&display=swap');
* {
  font-family: 'Avenir', serif !important;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.fpe-marker {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  contain: layout;
  will-change: transform;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1pt #000000;
}
.hub-marker{
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/sensor-placement/airthings-custom-icons/airthings_hub.png');
}
.spacePro{
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/sensor-placement/airthings-custom-icons/airthings_space_pro.png');
}
.spcaeCo2Mini{
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/sensor-placement/airthings-custom-icons/airthings_co2mini.png');
}
.spacePlus{
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/sensor-placement/airthings-custom-icons/airthings_space_plus.png');
}
.spaceCo2{
  background-image: url('https://takashi-honzawa.github.io/retool-template-icons/sensor-placement/airthings-custom-icons/airthings_space_pro.png');
}